
@{
    ViewData["Title"] = "Index";
}

@model CriticalMiss.UI.Models.User

<h1>Welcome to Critical Miss! The Online Tabletop!</h1>

<h2>Log In</h2>
<form>
    @Html.Label("UserName")
    @Html.TextBoxFor(m => Model.UserName)
    @Html.Label("Password")
    @Html.TextBoxFor(m => Model.Password)

    <button type="submit">Log In</button>
</form>

<p>Don't have an Account? <a asp-action="Create">Register here!</a></p>




